<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header" class="main-header">
    <div class="header-wrapper">
        <div class="logo">
            WON
        </div>
        <!--./logo-->
        <div class="menu-wrapper">
            <ul class="header-menu">
                <li class="menu"><a href="javascript:void(0)">BLOGS</a></li>
                <li class="menu"><a href="javascript:void(0)">STUDY</a></li>
                <li class="menu"><a href="javascript:void(0)">IoT</a></li>
                <li class="menu"><a href="javascript:void(0)">menu</a></li>
                <li class="menu"><a href="javascript:void(0)">CONTACT ME</a></li>
                <!--./menu-->
                <li class="user-wrapper">
                    <ul class="info">
                        <a href="javascript:void(0)">Sign In</a>
                        <a href="javascript:void(0)">Sign Up</a>
                    </ul>
                    <!--user login log out-->
                </li>
                <!--./user-wrapper-->
            </ul>
            <!--./header-menu-->
        </div>
        <!--./menu-wrapper-->
        <!--<div class="user-info">
            User Info
        </div>-->
        <!--user information-->
    </div>
    <!--./header-wrapper-->
</header>
<!--header fragment-->
</body>
</html>