<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{admin/layout/adminLayout(menu='blog', currentMenu='blogCreate')}">
<head>
    <title>ADMIN MAIN</title>
</head>
<body>
<th:block layout:fragment="mainContent">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Portfolio Won
            <small>Version 1.0</small>
        </h1>
        <!--./header title-->
        <ol class="breadcrumb">
            <li><a href="#" th:href="@{/admin}"><i class="fa fa-users"></i>Home</a></li>
            <li><a href="#"> Blog</a></li>
            <li class="active">Blog Create Page</li>
        </ol>
    </section>
    <!--./content-header-->
    <!-- Main content -->
    <section class="content">
        <article class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Blog Create</h3>
                <div class="pull-right">
                    <button type="button" class="btn btn-danger" id="cancelBtn">
                        GO TO LIST
                    </button>
                    <button type="button" class="btn btn-primary" id="createBtn">
                        CREATE BLOG
                    </button>
                </div>
                <!--./registe blog button-->
            </div>
            <!--./box-header-->
            <div class="box-body">
                <form th:id="blog" th:name="blog" th:object="${createBlogForm}" th:method="POST" method="post"
                      action="#create-blog" th:action="@{/admin/blogs/create}">
                    <div class="form-group">
                        <label for="title">Blog Title</label>
                        <input th:field="*{title}" id="title" name="title" type="text" class="form-control"
                               placeholder="blog title..." required>
                    </div>
                    <!--./blog-title Input-->
                    <div class="form-group">
                        <label for="projectUrl">Project URL</label>
                        <input th:field="*{projectUrl}" id="projectUrl" name="projectUrl" class="form-control"
                               type="url" placeholder="project url....(ex github url)">
                    </div>
                    <!--./form-group-->
                    <div class="form-group">
                        <label for="content">Blog Content</label>
                        <textarea th:field="*{content}" id="content" name="content" rows="10" cols="30">

                        </textarea>
                    </div>
                    <!--./form-group-->
                </form>
                <!--./form-->
            </div>
            <!--./box-body-->
            <div class="box-footer">

            </div>
            <!--./box-footer-->
        </article>
        <!--./blogs-box-->
    </section>
    <!-- /.content -->
</th:block>
<th:block layout:fragment="addScript">
    <script src="../../../static/js/plugins/ckeditor/ckeditor.js"
            th:src="@{/admin-resource/plugins/ckeditor/ckeditor.js}"></script>
    <script>
        $(document).ready(function () {


            $(function () {
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.

                CKEDITOR.replace('content', {
                    language: 'ko',
                    height: 450,
                    removePlugins: 'resize',
                    resize_enabled: false,
                    toolbarGroups: [
                        {name: 'document', groups: ['mode', 'document', 'doctools']},
                        {name: 'clipboard', groups: ['clipboard', 'undo']},
                        {name: 'editing', groups: ['find', 'selection', 'spellchecker', 'editing']},
                        {name: 'forms', groups: ['forms']},

                        {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
                        {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi', 'paragraph']},
                        {name: 'links', groups: ['links']},
                        {name: 'insert', groups: ['insert']},
                        {name: 'styles', groups: ['styles']},
                        {name: 'colors', groups: ['colors']}
                    ],
                    format_tags: 'p;h1;h2;h3;pre',
                    enterMode: CKEDITOR.ENTER_BR,
                    htmlEncodeOutput: false,
                    removeDialogTabs: 'image:advanced;link:advanced',
                    removePlugins: 'elementspath'
                });

                //bootstrap WYSIHTML5 - text editor
                //$(".textarea").wysihtml5();
            });
            /*
            $("#sendBtn").click(function(){
                const content = CKEDITOR.instances.editor1.getData();
                const title = $("#title").val();

                $("#editor1").val(content);
                alert(content);

                document.boarder.submit();
            });
            */

            $("#cancelBtn").click(function () {
                console.log('cancel');
                location.replace('/boards/registe');
            });
            // create button
            $("#createBtn").click(function (event) {
                event.preventDefault();
                // const content = CKEDITOR.instances.content.getData();
                // $("#content").val(content);
                $("#blog").submit();
            });
        });
    </script>
    <!--./custom javascript-->
</th:block>
</body>
</html>