<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{admin/layout/adminLayout(menu='blog', currentMenu='blogCreate')}">
<head>
    <title>BLOG CREATE</title>
</head>
<body>
<th:block layout:fragment="mainContent">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Portfolio Won
            <small>Version 1.0</small>
        </h1>
        <!--./header title-->
        <ol class="breadcrumb">
            <li><a href="#" th:href="@{/admin}"><i class="fa fa-newspaper-o"></i>Home</a></li>
            <li><a href="#"> Blog</a></li>
            <li class="active">Blog Create Page</li>
        </ol>
    </section>
    <!--./content-header-->
    <!-- Main content -->
    <section class="content">
        <article class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Blog Create</h3>
                <div class="pull-right">
                    <button type="button" class="btn btn-danger" id="cancelBtn">
                        GO TO LIST
                    </button>
                    <button type="button" class="btn btn-primary" id="createBtn">
                        CREATE BLOG
                    </button>
                </div>
                <!--./registe blog button-->
            </div>
            <!--./box-header-->
            <div class="box-body">
                <form th:id="blog" th:name="blog" th:object="${createBlogForm}" th:method="POST" method="post"
                      action="#create-blog" th:action="@{/admin/blogs/create}" enctype="multipart/form-data">
                    <div class="form-group" th:class="${#fields.hasErrors('title')}?'has-error':''">
                        <label for="title" class="control-label">Blog Title</label>
                        <input th:field="*{title}" id="title" name="title" type="text" class="form-control"
                               placeholder="blog title..." required>
                        <span class="help-block" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                    </div>
                    <!--./blog-title Input-->
                    <div class="form-group" th:class="${#fields.hasErrors('projectUrl')}?'has-error':''">
                        <label for="projectUrl" class="control-label">Project URL</label>
                        <input th:field="*{projectUrl}" id="projectUrl" name="projectUrl" class="form-control"
                               type="url" placeholder="project url....(ex github url)">
                        <span class="help-block" th:if="${#fields.hasErrors('projectUrl')}"
                              th:errors="*{projectUrl}"></span>
                    </div>
                    <!--./form-group-->
                    <div class="form-group" th:class="${#fields.hasErrors('projectFile')}?'has-error':''">
                        <label for="projectFile" class="control-label">project File</label>
                        <input type="file" name="projectFile" id="projectFile" th:field="*{projectFile}">
                    </div>
                    <!--./form-file-->
                    <div class="form-group" th:class="${#fields.hasErrors('content')}?'has-error':''">
                        <label for="content" class="control-label">Blog Content</label>
                        <textarea th:field="*{content}" id="content" name="content" rows="10" cols="30">

                        </textarea>
                        <span class="help-block" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
                    </div>
                    <!--./form-group-->
                    <input type="hidden" th:field="*{resources}" name="resources" id="resources"/>
                    <!--hidden resource file input list-->
                </form>
                <!--./form-->
            </div>
            <!--./box-body-->
            <div class="box-footer">

            </div>
            <!--./box-footer-->
        </article>
        <!--./blogs-box-->
    </section>
    <!-- /.content -->
</th:block>
<th:block layout:fragment="addScript">
    <script th:replace="~{admin/layout/fragments/csrfBefore :: ajax-csrf-header}"></script>
    <script src="../../../static/admin-resource/plugins/ckeditor/ckeditor.js"
            th:src="@{/admin-resource/plugins/ckeditor/ckeditor.js}"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                var csrfToken = /*[[${_csrf.token}]]*/ null;
                var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.

                let editor = CKEDITOR.replace('content', {
                    language: 'ko',
                    height: 450,
                    removePlugins: 'resize',
                    resize_enabled: false,
                    toolbarGroups: [
                        {name: 'document', groups: ['mode', 'document', 'doctools']},
                        {name: 'clipboard', groups: ['clipboard', 'undo']},
                        {name: 'editing', groups: ['find', 'selection', 'spellchecker', 'editing']},
                        {name: 'forms', groups: ['forms']},
                        {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
                        {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi', 'paragraph']},
                        {name: 'links', groups: ['links']},
                        {name: 'insert', groups: ['insert']},
                        {name: 'styles', groups: ['styles']},
                        {name: 'colors', groups: ['colors']}
                    ],
                    format_tags: 'p;h1;h2;h3;pre',
                    enterMode: CKEDITOR.ENTER_BR,
                    removePlugins: 'elementspath',
                    removeDialogTabs: 'image:advanced;link:advanced',
                    htmlEncodeOutput: false,
                    // filebrowserUploadMethod: "form", // file upload javascript function
                    // fileTools_requestHeaders:{}
                    filebrowserImageBrowseUrl: "/blogs/resources/upload"
                });
                // check editor obj
                console.log("get editor :::: ", editor);
                //
                CKEDITOR.on('dialogDefinition', function (ev) {

                    var dialog = ev.data.definition.dialog;
                    var dialogName = ev.data.name;
                    var dialogDefinition = ev.data.definition;

                    switch (dialogName) {
                        case 'image': // 이미지 속성창이 보일때 안보이게 하기 위해서 .

                            // dialogDefinition.removeContents('info');
                            dialogDefinition.removeContents('Link');
                            dialogDefinition.removeContents('advanced');
                            dialog.on('show', function (obj) {
                                this.selectPage('Upload'); //업로드텝으로 시작
                            });
                            break;
                    }

                });
                // file upload request
                editor.on('fileUploadRequest', function (evt) {
                    // setting _csrf token

                    // Copy contents of 'upload' image field to a new field with 'new_name'
                    var requestDataObject = evt.data.requestData;
                    requestDataObject['[(${_csrf.parameterName})]'] = '[[${_csrf.token}]]';
                    // requestDataObject['new_name'] = requestDataObject['upload'];
                    // Delete old 'upload' image field from the request data object
                    // delete requestDataObject['upload'];
                    window.parent.CKEDITOR.tools.callFunction(1, '"+fileUrl+"', '파일이 업로드되었습니다.');

                });
                // file upload response
                editor.on('fileUploadResponse', function (evt) {
                    let resource = $("#resources").val();
                    var data = evt.data,
                        xhr = data.fileLoader.xhr,
                        response = JSON.parse(xhr.responseText);
                    if (resource == null || resource == "") {
                        $("#resources").val(response.savedName);
                    } else {
                        $("#resources").val(resource + "," + response.savedName);
                    }
                    window.parent.CKEDITOR.tools.callFunction(1, '"+fileUrl+"', '파일이 업로드되었습니다.');
                });

                /*  editor.on('fileUploadRequest', function (evt) {
                      console.log("file upload function request call :::: ", evt);
                      console.log("get file data :::: ", evt.data.requestData);
                      /!*var xhr = evt.data.fileLoader.xhr;

                      xhr.setRequestHeader( 'Cache-Control', 'no-cache' );
                      xhr.setRequestHeader( 'X-File-Name', this.fileName );
                      xhr.setRequestHeader( 'X-File-Size', this.total );
                      xhr.send( this.file );

                      // Prevented the default behavior.
                      evt.stop();*!/
           /!*           var fileLoader = evt.data.fileLoader,
                          formData = new FormData(),
                          xhr = fileLoader.xhr;
                      console.log('file loader :::: ', fileLoader);
                      xhr.open('POST', fileLoader.uploadUrl, true);
                      formData.append('upload', fileLoader.file, fileLoader.fileName);
                      console.log("form data :::: ", formData);
                      fileLoader.xhr.send(formData);

                      evt.stop();*!/

                  });
                  editor.on('fileUploadResponse', function (evt) {
                      console.log("file upload function response call :::: ", evt);


                  });*/


                //bootstrap WYSIHTML5 - text editor
                //$(".textarea").wysihtml5();
            });
            /*
            $("#sendBtn").click(function(){
                const content = CKEDITOR.instances.editor1.getData();
                const title = $("#title").val();

                $("#editor1").val(content);
                alert(content);

                document.boarder.submit();
            });
            */

            $("#cancelBtn").click(function () {
                location.replace('/admin/blogs/list');
            });
            // create button
            $("#createBtn").click(function (event) {
                event.preventDefault();
                // const content = CKEDITOR.instances.content.getData();
                // $("#content").val(content);
                $("#blog").submit();
            });
        });
    </script>
    <!--./custom javascript-->
</th:block>
</body>
</html>