<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{admin/layout/adminLayout(menu='blog', currentMenu='')}">
<head>
    <title>BLOG DETAIL</title>
</head>
<body>
<th:block layout:fragment="mainContent">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Portfolio Won
            <small>Version 1.0</small>
        </h1>
        <!--./header title-->
        <ol class="breadcrumb">
            <li><a href="#" th:href="@{/admin}"><i class="fa fa-newspaper-o"></i>Home</a></li>
            <li><a href="#"> Blog</a></li>
            <li class="active">Blog Create Page</li>
        </ol>
    </section>
    <!--./content-header-->
    <!-- Main content -->
    <section class="content">
        <article class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title" th:text="${blog.title}">
                </h3>
                <div class="pull-right">
                    <button id="listBtn" type="button" class="btn btn-default">Go to List</button>
                    <button id="modifyBtn" th:if="${(user?.email == blog.writerEmail)}" type="button"
                            class="btn btn-warning">Blog
                        Modify
                    </button>
                </div>
            </div>
            <!--./box-header-->
            <div class="box-body" style="min-height: 450px; padding: 30px;">
                [(${blog.content})]
            </div>
            <!--./box-body-->
            <div class="box-footer">
                <strong>Reply Comment</strong>
                <p class="pull-right badge bg-green" id="replyNumber" th:text="${replies.size()}">
                    reply number
                </p>
                <hr>
                <!--reply ttle-->
                <div class="input-group">
                    <input type="text" class="form-control" name="replyContent" id="replyContent">
                    <span class="input-group-btn">
                        <button type="button" id="createReplyBtn" class="btn btn-success">reply</button>
                    </span>
                </div>
                <!--./input-group-->
                <hr th:if="${replies.size() > 0}">
                <!--TODO how to make reply box or show-->
                <div id="replyContainer">
                    <!--/*<th:block th:if="${replies != null}" th:each="i : ${#numbers.sequence(replies.size() - 1, 0, -1)}">*/-->
                    <th:block th:if="${replies != null}" th:each="reply : ${replies}">
                        <div class="callouts">
                            <h4 class="" th:text="${reply.replyer}"></h4>
                            <!--./writer-->
                            <div>
                                [[${reply.replyContent}]]
                                <a class="pull-right"
                                   th:href="|javascript:removeReply(${reply.idx}, ${blog.idx})|">
                                    <!--call javascript function-->
                                    <i class="fa fa-times"></i>
                                </a>
                                <!--./remove a tag-->
                            </div>
                            <!--./reply-content-->
                            <hr>
                    </th:block>
                </div>
                <!--./reply-content-list-->
            </div>
            <!--./reply-content-->
            </div>
            <!--./reply-->
            </div>
            <!--./box-footer-->
        </article>
        <!--./box-->
    </section>
    <!-- /.content -->
</th:block>
<!--./main-->

<th:block layout:fragment="addScript">
    <script th:replace="~{admin/layout/fragments/csrfBefore :: ajax-csrf-header}">

    </script>
    <!--csrf setting-->
    <script>
        /** function go to list */
        function goBack() {
            $("#listBtn").click(function (event) {
                location.href = "/admin/blogs/list";
            });
        };

        /** function modify */
        function modify() {
            $("#modifyBtn").click(function (event) {

            });
        }

        /** get reply json */
        function getRepliesJson(idx) {
            $.ajax({
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                method: 'GET',
                url: '/blogs/' + idx + "/reply"
            }).then(function (data, textStatus, xhr) {
                // get status check
                if (xhr.status == 200) {
                    let text = "";
                    // reply reloading
                    data.forEach(dataRaw => {
                        console.log("get data for each ::: ", dataRaw);
                        let textTemplate = `<div class="callouts">
                                    <h4>${dataRaw.replyer}</h4>
                                    <div>${dataRaw.replyContent}
                                    <a class="pull-right" href="javascript:removeReply(${idx},${dataRaw.idx})">
                                    <i class="fa fa-times"></i>
                                    </a>
                                    </div>
                                </div><hr>`;
                        text += textTemplate;
                    });
                    $("#replyContainer").empty();
                    $("#replyNumber").empty();
                    $("#replyNumber").append(data.length);
                    $("#replyContainer").append(text);
                    $("#replyContent").val("");
                }
            });
        }

        /** function get reply list */
        function getReplies() {
            const blogPath = [[${blog.idx}]];
            console.log("get blog Idx ::: ", blogPath);

            return getRepliesJson(blogPath);
        }

        /** function create reply */
        function createReplies() {
            const blogPath = [[${blog.idx}]];
            $("#createReplyBtn").click(function (event) {
                console.log("click reply");
                let replyContent = $("#replyContent").val();
                /** ajax send create reply */
                $.ajax({
                    dataType: "json",
                    autocomplete: {
                        enabled: true,
                        rightKey: true,
                    },
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "/blogs/" + blogPath + "/reply",
                    data: JSON.stringify({"replyContent": replyContent})
                }).done(function (data, textStatus, xhr) {
                    console.log("get done data ::: ", data);
                    if (xhr.status == 201) {
                        console.log("create reply");
                        return getReplies();
                    }
                    console.log("get data ::: ", data);
                });
            });
        };

        /** remove reply */
        function removeReply(replyIdx, blogIdx) {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/blogs/" + blogIdx + "/reply/delete/" + replyIdx,
                error: function (xhr, statusText, err) {
                    alert("error" + xhr.status);
                    console.log("status ::: ", statusText);
                    console.log("get error ::: ", err);
                }
            }).done(function (data, textStatus, xhr) {
                console.log("get done data ::: ", data);
                if (xhr.status == 200) {
                    return getReplies();
                } else {
                    console.log("get data ::: ", data);
                }
            });
        }

        $(document).ready(function () {
            console.log("testing");
            createReplies();
            modify();
            goBack();
        });
    </script>
</th:block>
</body>
</html>